<header>
  <img src="assets/img/Seus-Momentos.png" alt="Logo Seus Momentos" class="logo">
  <form action="">
    <input type="text" placeholder="Fotos, pessoas ou grupos">
    <button><span class="material-symbols-rounded">search</span></button>
  </form>
  <nav>
    <ul class="nav__links">
      <li><a href="#">Explorar</a></li>
      <li><a href="#">Publicar</a></li>
      <li><a href="#">Lucas Alves</a></li>
    </ul>
  </nav>
  <img src="assets/img/IMG-PERFIL.jpg" alt="" class="user__img">
</header>