<header>
  <a routerLink="/">
    <img src="assets/img/Seus-Momentos-Logo.png" alt="Logo Seus Momentos" class="logo">
  </a>
  <div class="search-container">
    <input type="text" placeholder="Pesquisar" (input)="search($event)">
    <fa-icon [icon]="faSearch"></fa-icon>
  </div>
  <nav>
    <ul class="nav__links">
      <li><a routerLink="/">Explorar</a></li>
      <li id="add"><a routerLink="/publicar/new">Publicar</a></li>
      <li><a routerLink="/login">Entrar</a></li>
    </ul>
  </nav>
</header>