<div class="about">
    <h2>Sobre o <span>Seus Momentos</span></h2>
    <p>
        O <span>Seus Momentos</span> surgiu a partir da necessidade de uma rede social onde os 
        usuários possam compartilhar seus momentos, tudo isso em uma plataforma mais 
        segura e livre de anúncios. Você pode escolher com quem irá compartilhar seus 
        momentos, sendo com seus familiares, grupo de amigos, totalmente público ou com 
        um único usuário específico.
    </p>
    <p>Compartilhe seus momentos, e receba comentários de quem você mais gosta!</p>
    <a routerLink="/publicar/new">Quero compartilhar meus Momentos!</a>
</div>