<div class="login">
    <img src="assets/img/Seus-Momentos-Logo-Login.png" alt="" class="brand__login">
    <div class="login-container">
        <h2>Entrar</h2>
        <form>
            <div class="form-login">
                <input type="text" placeholder="Usuário ou email" required >
            </div>
            <div class="form-login">
                <input type="password" placeholder="Senha" required >
            </div>
            <div class="form-login">
                <button type="submit" (click)="logIn()">Entrar</button>
            </div>
        </form>
        <p>Não tem uma conta?</p>
        <a href="#">Cadastre-se</a>
    </div>
</div>
